<div id="top">
    <img src="/assets/img/veggie-burger.PNG" alt="Burger" width="220px">
    <h1>Burger Logger</h1>
</div>
<div id="left">

</div>
<div id="right">

</div>
<div id="enter-text">
    <textarea id="enter-burger" rows="5" cols="50"></textarea>
</div>
<div id="below-text">
    <button id="submit-burger">Submit</button>
    <p>Enter a burger you want to eat...then click the "Submit" button</p>
</div>
